.main-content{
    background-color: white;
    align-content: center;
    padding-top: -30px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 20px;
}

.central-image{
    width: 100%;
    align-content: center;
}

.main-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 500px;
    margin-top: 12px;
    padding-top: 30px;
}

.presentation-image{
    max-width: 470px;
    float: left;
    padding: 0px 15px 10px 0px;
}

.presentation{
    padding: 0;
    padding-top: 30px;
    margin: 0;
    width: 100%;
}

.main-carousel{
    width: 100%;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}


@media screen and (max-width:570px){
    .main-image{
        width: 250px;
    }
    .presentation-image{
        width: 270px;
    }
}

@media screen and (max-width:410px){
    .presentation-image{
        padding: 0px 0px 10px 0px;
    }
}