<div class="main-content">   
    <div class="central-image">
        <img src="/assets/resources/images/logo.jpg" class="main-image"/>
    </div>
    <app-carousel></app-carousel>  
    <div class="container-fluid row presentation"> 
        <div class="col-md-12">
                <img class="presentation-image" src="/assets/resources/images/presentation.jpg" />
                    <h3>Inicios</h3>
                    <p>
                        Taxidermia Coin es una empresa familiar fundada de la mano de José Coin Quintana en el año 1960, cuando montó su primer estudio en Madrid donde realizaba pequeños encargos.<br>
                        Poco a poco, el negocio fue incrementando su volumen y la plantilla se amplió incorporando a los hijos del fundador: José y Francisco Coin, quienes continuaron con el negocio compaginado las enseñanzas de su padre con las nuevas técnicas de naturalización de trofeos.<br>
                        En la actualidad, Taxidermia Coin cuenta con multitud de encargos tanto nacionales como internacionales gracias a la excelencia de los trabajos realizados.<br>
                        Todos nuestros clientes y amigos saben que la calidad es el sello más reconocible de nuestra marca.
                    </p>      
        </div> 
    </div>
</div>
