<div class="container-fluid gallery container">
  <div class="row content-main-text container-fluid container">
    <blockquote class="blockquote text-center">
      <p class="bq-title">Galería fotográfica</p>
      <p>
        Bienvenido a nuestra galería fotográfica, aquí podrás ver algunas muestras de nuestros trabajos anteriores. <br>
        Utiliza el menú para filtrar las fotos si quieres un contenido específico y amplía las imágenes pulsando encima de ellas
      </p>
    </blockquote>
  </div>
  <div class="row main-gallery-content">
      <div class="col-6 col-md-2 col-sm-3">
          <div class="left-menu">
            <ul>
              <li class="list-item list-intermedium" href="#">
                <a href="#" (click)="filtrar('Todas')">Todas</a>
              </li>
              <li class="list-item list-intermedium">
                <a href="#" (click)="filtrar('Hueso')">Hueso</a>
              </li>
              <li class="list-item list-intermedium" href="#">
                <a href="#" (click)="filtrar('Entero')">Enteros</a>
              </li>
              <li class="list-item list-intermedium" href="#">
                <a href="#" (click)="filtrar('Pecho')">Pecho</a>
              </li>
              <li class="list-item" href="#">
                <a href="#" (click)="filtrar('Pabellon')">Pabellones</a>
              </li>
            </ul>
          </div>
      </div> 
      <div class="col-12 col-sm-9 col-md-10">
        <div class="row image-row" *ngFor="let t of temp(math.ceil(maxPerPage)).fill(); let i = index;">
          <div class="col-sm-3 image-item">
            <a class="image-link" (click)="displayImage(3*i+((actualPage-1)*15))">
                <img class="gallery-image tn" src="{{images[3*i+((actualPage-1)*15)].imagePath}}" style="width:inherit" 
                  alt="{{images[3*i+((actualPage-1)*15)].name}}">
            </a>
          </div>
          <div class="col-sm-3 image-item">
            <a class="image-link" (click)="displayImage(3*i+1+((actualPage-1)*15))">
                <img class="gallery-image tn" src="{{images[3*i+1+((actualPage-1)*15)].imagePath}}" style="width:inherit" 
                  *ngIf="showImage(3*i+1+((actualPage-1)*15))" alt="{{images[3*i+1+((actualPage-1)*15)].name}}">
            </a>
          </div>
          <div class="col-sm-3 image-item">
            <a class="image-link" (click)="displayImage(3*i+2+((actualPage-1)*15))">
              <img class="gallery-image tn" src="{{images[3*i+2+((actualPage-1)*15)].imagePath}}" style="width:inherit" 
                *ngIf="showImage(3*i+2+((actualPage-1)*15))" alt="{{images[3*i+2+((actualPage-1)*15)].name}}">
            </a>
          </div> 
        </div>       
      </div>         
  </div>
  <div class="row">
    <nav class="page-navigator" *ngIf="(lastPage>1)" aria-label="Page navigation example">
      <ul class="pagination pg-blue">
        <li class="page-item" *ngIf="actualPage>1" >
          <a class="page-link wider text-center" (click)="previousPage()" mdbWavesEffect href="#">
            Anterior
          </a>
        </li>
        <li class="page-item" *ngFor="let t of temp(math.ceil(lastPage)).fill(); let i = index;">
          <a class="page-link text-center" mdbWavesEffect href="#" (click)="goToPage(i+1)">
            {{i + 1}}
          </a>
        </li>
        <li class="page-item" *ngIf="(lastPage>actualPage)">
          <a class="page-link wider text-center" mdbWavesEffect (click)="nextPage()" href="#">
            Siguiente
          </a>
        </li>
      </ul>
    </nav> 
  </div>
</div>
