<div class="container-fluid gallery container">
  <div class="row main-gallery-content">
      <div class="col-6 col-md-2">
          <div class="left-menu">
            <ul>
              <li class="list-item">
                <a href="#">Todas</a>
              </li>
              <li class="list-item">
                <a href="#">Hueso</a>
              </li>
              <li class="list-item">
                <a href="#">Enteros</a>
              </li>
              <li class="list-item" href="#">
                <a href="#">Pecho</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-12 col-sm-6 col-md-10">
        <div class="row image-row" *ngFor="let t of temp(math.ceil(images.length/3)).fill(); let i = index">
          <div class="col-sm-3 image-item" >
            <img class="gallery-image" src=" {{images[3*i].imagePath}}" style="width:inherit">
          </div>
          <div class="col-sm-3 image-item" >
              <img class="gallery-image second" src="{{images[3*i+1].imagePath}}" style="width:inherit">
          </div>
          <div class="col-sm-3 image-item">
              <img class="gallery-image third" src="{{images[3*i+2].imagePath}}" style="width:inherit">
          </div>
        </div>
      </div>         
  </div>
</div>
