
<nav id="header" (window:scroll)="userHasScrolled($event)">
    <div id="navigation-bar">
        <div id="navigation-list">
            <ul id="navbar" class="main-navbar">
                <li class="navbar-item">
                    <a class="taxco-navbar-text" routerLink= "/" routerLinkActive="active">Inicio</a>
                </li>
                <li class="navbar-item">
                    <a class="taxco-navbar-text intermedium" routerLink= "/gallery" routerLinkActive="active">Galería</a>
                </li>
                <li id="logo" class="navbar-item logo">
                    <a routerLink= "/" routerLinkActive="active"><img id="logo-img" src="assets/resources/images/logo-blanco.png" class="navbar-icon"></a>
                </li>
                <li class="navbar-item">
                    <a class="taxco-navbar-text intermedium" routerLink= "/trophies" routerLinkActive="active">Medición de trofeos</a>
                </li>
                <li class="navbar-item">
                    <a class="taxco-navbar-text intermedium" routerLink= "/aboutUs" routerLinkActive="active">Sobre nosotros</a>
                </li>
                <li class="hamburger">
                    <img class="menu-icon" src="assets/resources/images/menu-icon.png" (click)="showMenu()">
                </li>
            </ul>
        </div>
    </div>
    <div class="header-aux" [ngClass]="showMobileMenu ? 'click-menu' : 'undo-click-menu'" (clickOutside)="hideMenu()">
        <ul id="navbar-aux">
            <li class="navbar-aux-item first-item">
                <a href="#" class="taxco-navbar-text">Inicio</a>
            </li>
            <li class="navbar-aux-item">
                <a href="#" class="taxco-navbar-text">Galería</a>
            </li>
            <li class="navbar-aux-item">
                <a href="#" class="taxco-navbar-text">Medición de trofeos</a>
            </li>
            <li class="navbar-aux-item">
                <a href="#" class="taxco-navbar-text">Sobre nosotros</a>
            </li>
            <li class="navbar-aux-item last-item">
                <a href="#" class="taxco-navbar-text">Más</a> 
            </li>
        </ul>
    </div>
</nav>