<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
          <a class="logo navbar-brand" href="#"><strong><img src="assets/resources/images/logo2.jpg" class= "mainlogo"></strong></a>
      </mdb-navbar-brand>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Galeria</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                  <a class="nav-link" href="#">Medición de trofeos</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#">Sobre nostoros</a>
              </li>
              <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" href="#">Tienda</a>
              </li>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item waves-light button" mdbWavesEffect>
              <a class="nav-link" href="#">Registro</a>
            </li>
            <li class="nav-item waves-light button" mdbWavesEffect>
                <a class="nav-link" href="#">Acceso</a>
            </li>
          </ul>
      </links>
  </mdb-navbar>
</header>