#header{
    width: 100%;
    margin: 0px;
    padding: 0px;    
    height: 80px;
}

.navigation-bar {
    display: table;
    height: 100px;
    width: 100%;
}

.navigation-list {
    display: table-cell; /* <---- Div hijo, definimos como celda de la tabla*/
    vertical-align: middle; /* <---- Alineamos la celda de la tabla en vertical*/
    text-align: center; /* <---- Alineamos su contenido en horizontal*/
    height: 100%;
}

.main-navbar{
    margin:auto;
    padding:0;
    width: 960px;
}

.scrolled {
    li{
        height: 65px;
        a {
            line-height: 60px;
            &:hover{
                background: white;
                color: #333;
                height: 60px;
            }
        }
    }
    width: 100%;
    height: 65px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background: #333;
    box-shadow: 0px 2px 4px #AAA;
    z-index: 99;
}

.navbar-icon{
    width: 120px;
    margin-top: 5px;
}

.navbar-item{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    width: 210px;
}

.logo{
    width: 120px;
}

.scrolled-logo {
    width: 75px;
}

.taxco-navbar-text{
    display: block;
    color: white;
    line-height: 80px;
    text-align: center; 
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    &:hover{
        background: white;
        color: #333;
        height: 80px;
    }
}

.hamburger{
    display: none;
}

.navbar-aux-item{
    display: none;
}

@media screen and (max-width:1200px){

    #header{   
        height: 65px;
        background: #333;
    }

    #navbar{
        max-width: 1200px;
        height: 65px;
    }
    
    .navbar-icon{
        width: 70px;
        margin-top: 5px;
        float: left;
    }
    
    .navbar-item{
        display: none;
    }
    
    .logo{
        display: inline;
    }
    .hamburger{
        float: right;
        display: inline;    
    }

    .menu-icon{
        width: 40px;
        margin-top: 15px;
        margin-right: 20px;
        z-index: 99;
    }

    .hamburger-icon{
        margin-top: 50px;
        z-index: 99;
    }

    .navbar-aux{
        list-style: none;      
    }

    .navbar-aux-item{
        width: 100%;
        display: inline;    
        background: #333;
        float: left;
        border-bottom: #CCC solid 1px;
    }

    .taxco-navbar-text:hover, .taxco-navbar-text:focus{
        background: white;
    }

    .header-aux{
        position: fixed;
        display: none;
        background: #333;
        padding-right: 40px;
        z-index: 7;
        width: 100%;
    }

    .click-menu{
        display:inherit;
    }

    .undo-click-menu{
        display: none;
    }

    .last-item{
        border-bottom: #333 solid 1px;
    }
}