/* MODAL STYLES
-------------------------------*/
.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
        padding: 20px;
        background: #fff;

        /* margin exposes part of the modal background */
        margin: 40px;
    }
}

.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 9999;
}

.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
/* The Modal (background) */
/*.modal {
    display: block; // Hidden by default 
    position: fixed; // Stay in place 
    scroll-behavior: unset;
    z-index: 99; // Sit on top 
    left: 0;
    top: 0;
    width: 100%; // Full width 
    height: 100%; // Full height 
    overflow: hidden; // Enable scroll if needed 
    background-color: rgb(0,0,0); // Fallback color 
    background-color: rgba(0,0,0,0.7); // Black w/ opacity 
}*/
  
/* Modal Content/Box */
/*.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 15%;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;  //Could be more or less, depending on screen size 
}*/