.main-content{
    background-color: white;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
    max-width: 1080px;
    border-radius: 15px;
}

.central-image{
    width: 100%;
    align-content: center;
}

.main-image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 500px;
    margin-top: 50px;
    padding-top: 30px;
}

.presentation-image{
    max-width: 340px;
    float: left;
    padding: 0px 15px 10px 0px;
}

.presentation{
    padding-top: 30px;
}

.main-carousel{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}