.maincontent{
    background-color: white;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
    max-width: 1080px;
    min-height: 800px;
    border-radius: 15px;
}

.central-image{
    position: relative;
    width: 100%;
    margin-top: 20px;
    align-content: center;
    margin: auto;
}

.mainimage{
    align-content: center;
    margin: auto;
    max-width: 500px;
}