<div class="container-fluid gallery"> 
  <div class="gallery-container">
    <div class="row">
      <div class="btn-group dropdown-filter col-3" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle waves-light"
          mdbWavesEffect>
          Filtrar
        </button>  
        <div class="dropdown-menu">
            <a class="dropdown-item" (click)="filtrar('Todas')">Todas</a>
            <a class="dropdown-item" (click)="filtrar('Hueso')">Hueso</a>
            <a class="dropdown-item" (click)="filtrar('Entero')">Enteros</a>
            <a class="dropdown-item" (click)="filtrar('Pecho')">Pecho</a>
            <a class="dropdown-item" (click)="filtrar('Pabellones')">Pabellones</a>
        </div>
      </div>
      <div class="col-3">
        <p class="selected-filter">Filtro actual: {{filterSelected}}</p>
      </div>
    </div>
    <div class="gallery-images">
      <ul class="image-list">
        <li class="small-image-container" *ngFor="let image of images; let i = index">
          <div class="gallerry-image">  
            <img class="miniature" src="{{image.imagePath}}" (click)="displayImage(image, i)">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>