.gallery{
    background-color: white;
    width: 100%;
    align-content: center;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 25px;
    border-top: 15px solid #333;

    .gallery-container {
        margin: auto;
        margin-top: 15px;
        width: 80%;

        .dropdown-filter {
            margin-top: 10px;

            .dropdown-toggle {
                background-color: #333;
                max-height: 50px;
                float: bottom;
            }            
        }

        .selected-filter {
            margin-top: 10px;
            font-size: 30px;
        }  

        .gallery-images {    
            text-align: center;        
            margin: auto;
            margin-left: -60px;

            .image-list {
                list-style: none;
                margin: auto;

                .small-image-container {
                    display: inline-block;
                    width: 300px;
                    height: 210px;
                    margin: 10px;

                    .miniature {
                        border: solid white 10px;
                        box-shadow: 0px 2px 4px #333;
                        margin: 10px;
                        width: 300px;
                        height: 210px;
                    }

                    @media screen and (max-width:576px){
                        .miniature {
                            width: 230px;
                            height: 160px;
                        }
                    }

                }
            }
        }
    }

    
}






