<ngb-carousel class="home-carousel" *ngIf="images">
  <ng-template class="carousel-slide" ngbSlide>
    <img class="carousel-slide" [src]="images[0]" alt="First slide">
    <div class="carousel-caption">
      <h3>Diseño de pabellones</h3>
      <p>Contacta con nosotros</p>
    </div>
  </ng-template>
  <ng-template class="carousel-slide" ngbSlide>
    <img class="carousel-slide" [src]="images[1]" alt="Fecond slide">
    <div class="carousel-caption">
      <h3>Date un capricho</h3>
      <p>Visita nuestra tienda</p>
    </div>
  </ng-template>
  <ng-template class="carousel-slide" ngbSlide>
    <img class="carousel-slide" [src]="images[2]" alt="Third slide">
    <div class="carousel-caption">
      <h3>No te olvides de la foto</h3>
      <p>Pásate por nuestra galería</p>
    </div>
  </ng-template>
</ngb-carousel>