<div class="login-container">
  <h2 class="text-center">Acceso</h2>
  <form (submit)="onSubmitLogUser()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" [(ngModel)]="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password" id="password" class="form-control">
    </div>
    <div class="row">
      <input type="submit" id="access" value="Acceder" class="btn btn-primary btn-block btn-lg button-modal">
    </div>
    <div class="row">
      <input type="text" value="Registro" class="btn btn-primary btn-block btn-lg button-modal" (click)="changeToRegister()">
    </div>
    <div class="row">
      <input type="text" value="Cancelar" class="btn btn-danger btn-block btn-lg button-modal" (click)="closeModal()">
    </div>
  </form>
</div>