.login-container {
    margin:auto;
    width: 850px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.form-group {
    margin: auto;
    margin-bottom: 10px;
}
#email, #password {    
    max-width: 350px;
}

.btn-block {
    width: 80%;
}