.main-container-shop {
    text-align: center;
    margin: auto;
    margin-top: 70px;
    height: 100%;
}
.item-list{
    text-align: center;
    width: 100%;
    list-style: none;
    text-align: center;
}

.item-container{
    display: inline-block;
    width: 320px;
    margin-right: 0px;
}

.shop-item {
    width: 260px;
    height: 390px;
    background-color: white;
    margin: 0;
    border-radius: 15px;
}

.item-image {
    margin: auto;
    width: 100%;
}

.item-photo {
    display:block;
    width: 100%;
    height: 260px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px 15px 0px 0px;
}

.item-data {
    margin-top: 10px;
}

.item-name {
    margin:auto;
    height: 50px;
}

.item-price {
    margin:auto;
    height: 50px;
}