<nav id="header" (window:scroll)="userHasScrolled($event)">
    <div id="navigation-bar">
        <div id="navigation-list">
            <ul id="navbar" class="main-navbar">
                    <li id="logo" class="navbar-item logo" routerLink= "/" routerLinkActive="active">
                        <!--<a routerLink= "/" routerLinkActive="active">-->
                            <img id="logo-img" 
                            src="https://firebasestorage.googleapis.com/v0/b/taxco-app.appspot.com/o/logo-blanco.png?alt=media&token=02fd9ea7-3c51-4e72-aaf8-deef8ce1e01d" 
                            class="navbar-icon">
                        <!--</a>
                        <a routerLink= "/" routerLinkActive="active" style="position:absolute"><img id="logo-img-hover" src="assets/resources/images/logo-negro.png" class="navbar-icon"></a>-->
                    </li>
                    
                    <li class="navbar-item">
                        <a class="taxco-navbar-text" routerLink= "/" routerLinkActive="active">Inicio</a>
                    </li>       
                    <li class="navbar-item">
                        <a class="taxco-navbar-text" routerLink= "/aboutUs" routerLinkActive="active">Sobre nosotros</a>
                    </li>
                    <li class="navbar-item">
                        <a class="taxco-navbar-text" routerLink= "/gallery" routerLinkActive="active">Galería</a>
                    </li> 
                    <li class="navbar-item">
                        <a class="taxco-navbar-text" routerLink= "/shop" routerLinkActive="active">Tienda</a>
                    </li>
                    <li class="user-zone navbar-item">
                        <a (click)="openModal('custom-modal-1')">
                            <img class="list-logo user-logo" 
                                src="https://firebasestorage.googleapis.com/v0/b/taxco-app.appspot.com/o/user-icon.png?alt=media&token=c471b387-8890-400b-ba80-d9cf75382b4e">
                        </a>          
                    </li>
                    <li class="cart-zone navbar-item">
                        <a (click)="openModal('shopping-cart-modal')">
                            <img class="list-logo cart-logo" 
                                src="https://firebasestorage.googleapis.com/v0/b/taxco-app.appspot.com/o/shopping-cart-icon.png?alt=media&token=86535265-ffc4-4642-a550-c97ee7a872a4">
                        </a>          
                    </li>
                    <li class="hamburger">
                        <img class="menu-icon" 
                            src="https://firebasestorage.googleapis.com/v0/b/taxco-app.appspot.com/o/menu-icon.png?alt=media&token=1fafe8d1-0ac3-4268-a09c-fc2702909425" 
                            (click)="showMenu()">
                    </li>                              
            </ul>
        </div>
        
    </div>
    <div class="header-aux" [ngClass]="showMobileMenu ? 'click-menu' : 'undo-click-menu'" (clickOutside)="showMenu()">
        <ul id="navbar-aux">
            <li class="navbar-aux-item first-item">
                <a routerLink= "/" routerLinkActive="active" class="taxco-navbar-text">Inicio</a>
            </li>
            <li class="navbar-aux-item">
                <a routerLink= "/gallery" routerLinkActive="active" class="taxco-navbar-text">Galería</a>
            </li>
            <li class="navbar-aux-item">
                <a class="taxco-navbar-text" routerLink= "/shop" routerLinkActive="active">Tienda</a>
            </li>
            <li class="navbar-aux-item">
                <a routerLink= "/aboutUs" routerLinkActive="active" class="taxco-navbar-text">Sobre nosotros</a>
            </li>
            <li class="navbar-aux-item last-item">
                <a (click)="showRegisterModal()" id="userTag" class="taxco-navbar-text">Usuario</a> 
            </li>
        </ul>
    </div>
</nav>
<custom-modal class="custom-modal" id="custom-modal-1">
    <app-auth></app-auth>
</custom-modal>
<custom-modal class="custom-modal" id="shopping-cart-modal">
    <div class="shopping-cart">
        <ul class="shopping-cart-list">
            <li *ngFor="let product of this.productService.shoppingCart | keyvalue">
                <p>{{product.key.name}}  --> {{product.value}}</p>
                <p>{{product.key.price}}€</p>
                <button class="btn-primary" (click)="deleteProduct(product)">Eliminar producto</button>
            </li>
        </ul>
    </div>
    <div>
        <p>Total : {{this.productService.totalPrice}}€</p>
        <button *ngIf="authService.loggedSession && productService.shoppingCart.size>0" class="btn-primary" (click)="confirmBuy()">Realizar pedido</button>
        <p *ngIf="!authService.loggedSession">Para poder realizar un pedido debes estar registrado</p>
        <p *ngIf="authService.loggedSession && productService.shoppingCart.size<1">Aún no tienes productos en tu carrito</p>
    </div>
</custom-modal>
<custom-modal class="custom-modal" id="success-modal">
    <p>
        <ngb-alert [type]="success" (close)="closeModal('custom-modal-1')">Realizado con éxito</ngb-alert>
    </p>
</custom-modal>