#header{
    width: 100%;
    margin: 0px;
    padding: 0px;    
    height: 80px;    
}

.navigation-bar {
    display: table;
    height: 100px;
    width: 80%;
    margin: auto;
}

.navigation-list {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.main-navbar{
    padding:0;
    width: 80%;
    margin:auto;
    list-style: none;
    z-index: 99;
}

.list-logo {
    margin-bottom: -20px;
    float: right;
    width: 65px;
}

.scrolled {
    width: 80%;
    height: 65px;
    position: fixed;
    top: 0;
    background: #333;
    box-shadow: 0px 2px 4px #AAA;
    border-radius: 0px 0px 20px 20px;
    z-index: 97;
    li{
        height: 45px;
        a {
            &:hover{
                background: white;
                color: #333;
                height: 57px;
            }
        }
    }
    .user-zone, .cart-zone {
        margin-top: 0px;
    }
}

.navbar-icon{
    width: 120px;
    margin-top: 5px;
}

.navbar-item{
    display: inline-block;
    text-decoration: none;
    width: 150px;
}

.user-zone, .cart-zone {
    float: right;
    width: 80px;
    margin-top: 20px;
}

.logo{
    width: 120px;
}

.logo-img {
    z-index: 99;
}

.scrolled-logo {
    width: 75px;
}

.taxco-navbar-text {
    display: block;
    color: white;
    line-height: 80px;
    text-align: center; 
    font-family: gabriola;
    font-size: 33px;
    text-decoration: none;
    &:hover {
        background: white;
        color: #333;
        height: 80px;
    }
}

.hamburger{
    display: none;
}

.navbar-aux-item{
    display: none;
}

@media screen and (max-width:1125px){

    #header{   
        height: 65px;
    }

    #navbar{
        width: 100%;
        height: 65px;        
        position: fixed;
        background: #333;
        box-shadow: 0px 2px 4px #AAA;
        border-radius: 0px 0px 20px 20px;
    }
    .navigation-bar {
        width: 100%;
    }
    
    .navbar-icon{
        width: 70px;
        margin-top: 5px;
        float: left;
    }
    
    .navbar-item{
        display: none;
    }
    
    .logo{
        display: inline;
        z-index: 99;
    }

    #logo-img{
        position: absolute !important;
        left: 8px;
    }
    
    .hamburger{
        float: right;
        display: inline;    
    }

    .menu-icon{
        width: 40px;
        margin-top: 15px;
        margin-right: 20px;
        z-index: 99;
    }

    .hamburger-icon{
        margin-top: 50px;
        z-index: 99;
    }

    .mobile-navbar-item{
        width: 100%;
        display: inline;    
        background: #333;
        float: left;
        border-top: #CCC solid 1px;
    }

    .taxco-navbar-text:hover, .taxco-navbar-text:focus{
        background: white;
    }

    .header-aux{
        position: fixed;
        display: none;
        background: #333;
        padding-right: 40px;
        z-index: 7;
        width: 100%;
    }

    .click-menu{
        display:inherit;
    }

    .undo-click-menu{
        display: none;
    }

    .last-item{
        border-bottom: #333 solid 1px;
    }

    .list-logo {
        width: 40px;
    }
}

.custom-modal {
    display: none;
}

.full-image {
    max-width: 90%;
    margin: auto;
}