/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/taxco-app.appspot.com/o/background3.jpg?alt=media&token=85e568f0-c9a4-457b-98a4-fd585639ff49);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover/*min($numbers: 2000px) 100%*/;
}