.personal-area {
    width: 100%;
    height: 100%;
    background-color: white;
    .orders-list {
        display: inline-block;
        .order {
            display: inline-block;
        }
    }
}

.orders-list{
    text-align: center;
    width: 100%;
    list-style: none;
    text-align: center;
}

.order{
    display: inline-block;
    width: 320px;
    margin-right: 0px;
}

.attributes-list {

}


ul{
    list-style: none;
}
