.admin-area {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    background-color: white;
    .orders-list-container {
        width: 70%;
        .orders-list {
            display: table;
            text-align: center;
            width: 100%;
            .order {
                display: table-row;
                width: 80%;
                margin-right: 0px;
                margin-bottom: 15px;
                ul {
                    display: table-cell;
                }
                .attributes-list {
                    min-width: 350px;
                    .order-attribute {
                        float: left;
                    }
                }
                .items-list{
                    min-width: 350px;
                }
            }
        }
    }
    
}

.order-item-attribute,
.order-attribute {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

ul{
    list-style: none;
}

input {
    max-width: 100px;
    float: right;
}
