<div class="row personal-area">
    <div class="orders-list-container">
        <ul class="orders-list">
            <li class="order" *ngFor="let order of ordersFormated">
                <ul class="attributes-list">
                    <li>{{order[0]}}</li>
                    <li>{{order[1]}}</li>
                    <li>{{order[2]}}</li>
                    <ul>
                        <li *ngFor="let product of order[4]">
                            <ul>
                                <li>{{product.name}}</li>
                                <li>{{product.price}}</li>
                                <li>{{product.quantity}}</li>
                            </ul>
                        </li>                
                    </ul>
                    <input type="text" value="Avanzar estado" class="btn btn-block btn-primary btn-sm" (click)="orderNextState(order[3])">          
                </ul>
            </li>
        </ul>
    </div>
</div>