<div class="row personal-area">
    <div class="orders-list-container">
        <ul class="orders-list">
            <div class="row order-container">
                <li *ngFor="let order of ordersFormated">
                    <p>{{order[0]}}</p>
                    <p>{{order[1]}}</p>
                    <p>{{order[2]}}</p>
                    <ul>
                        <div class="items-container">
                            <li *ngFor="let product of order[3]">
                                    <p>{{product.name}}</p>
                                    <p>{{product.price}}</p>
                                    <p>{{product.quantity}}</p>
                            </li>  
                        </div>              
                    </ul>            
                </li>
            </div>
        </ul>
    </div>
</div>