<div class="transparent-div row">
    <div class="col-md-6">
        <img class="presentation-image" src="/assets/resources/images/presentation.jpg" />
    </div>
    <div class="text-inicios col-md-6">
    </div>
</div>
<div class="container-fluid container main-content">
    
    <div class="central-image">
        <img src="/assets/resources/images/logo.jpg" class="main-image"/>
    </div>
    <div class="container-fluid row presentation">        
        <div class="col-md-12">     
        </div> 
    </div>
    <div class="container-fluid main-carousel">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>
